@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

.main {
  width: min(90%, 600px);
  background-color: teal;
  margin: 10px auto;
  padding: 2%;
}

.main > * {
  margin: 0 auto 2em;
  background-color: rgb(250, 250, 250);
  text-align: center;
  padding: 1em;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  border-radius: 2px;
}

.data-container {
  padding: 2em 5em;
}

.line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted;
  text-align: left;
  margin-bottom: 1.5em;
}

input, 
button {
  margin-bottom: 1em;
}

input:first-of-type, 
button:first-of-type {
  margin-right: 1em;
}

button {
  width: min(150px,25vw);
  margin: 0 3vw;
  aspect-ratio: 1;
  background-color: rgba(0, 128, 128, 0.8);
  border-radius: 5px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 500ms ease-out;
}

button:hover {
  background-color: rgba(0, 128, 128, 1);
}
